  body {
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: 25vh 60vh auto;
    grid-gap: 10rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .left{
    position:fixed;
  }

  .website-name {
    text-align: center;
    font-size: 2rem;
    font-family: "Irish Grover";
    margin-bottom: 1rem;
  }
  
  .menu {
    list-style: none;
    margin:0;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    margin-top:5.5rem;
  }
  
  .menu-item a {
    text-decoration: none;
  }
  
  .vertical-left{
    border-left: 4px solid white;
    height:236rem;
    position:absolute;
    left:20%;
  }

  .profile{
    display:grid;
    grid-template-columns:9vh 5vh auto;
    background-color:rgb(247, 247, 126);
    height:4.5rem;
  }

  .profile-pic{
    width: 50px;
    height: 50px;
    border-radius:50%;
    object-fit: cover;
    margin-left:0.5rem;
    margin-top:0.5rem;
  }

  .profile-name {
    position:absolute;
    color:black;
  }

  .user-name {
    color:black;
  }
  
  .followbtn {
    background-color: orangered;
    color: white;
    padding:0.2rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left:13rem;
    margin-top:2rem;
  }

  .post {
    margin-top: 1rem;
  }
  
  img{
    width:60vh;
    height:45vh;
  }

  .post-title {
    position: absolute;
    font-family:"irish Grover";
    font-size: 1.5rem;
    transform:translate(10%,-220%);
    background-color: rgba(41,41,41,0.8);
  }
  
  .post-actions {
    background-color:rgb(247, 247, 126); 
    height:2rem;
    display:flex;
  }
  
  .rating{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    margin-left:10rem;
    display:flex;
    color:white;
  }

  .like{
    margin:0.5rem;
    color:red;
  }

  .count-actions{
    display:flex;
    align-items: center;
    color:black;
  }

  .comment{
    margin:0.5rem;
    color:black;
  }

  .share{
    margin:0.5rem;
    color:black;
  }

  .checked{
    color: rgb(255, 188, 3);
  }

  .vertical-right{
    border-right: 4px solid white;
    height:236rem;
    position:absolute;
    right:32%;
  }

  .right{
     position:fixed;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius:50%;
    object-fit: cover;
  }
  
  .suggest{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-top:2rem;
  }

  .follow-button {
    background-color: orangered;
    color: white;
    padding:0.2rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top:2rem;
  }
  
  button:hover {
    background-color: orange;
  }

  .suggested-user {
    display:grid;
    grid-template-rows:12vh 12vh 12vh 12vh 12vh;
    padding-top: 1rem;
  }

.user{
  display:grid;
  grid-template-columns:9vh 25vh auto;
}

.suggested-image{
  margin-top:0.5rem;
}

a{
  color:white;
  text-decoration: none;
}



  
  